/* Custom Font Starts Here */
@font-face {
  font-family: "Satoshi-Light";
  src: url(./font/satoshi-light.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url(./font/satoshi-regular.ttf) format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url(./font/satoshi-medium.ttf) format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url(./font/satoshi-bold.ttf) format("truetype");
  font-weight: bold;
}

/* Custom Font Ends Here */

/* Reset Code Starts Here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi-Regular";
}

html,
body {
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

.btn {
  padding: 0.8vh 1vw;
  font-size: 1.1vw;
  font-family: "Satoshi-Regular";
  font-weight: bold;
  letter-spacing: 0.1vw;
  border-radius: 10px;
  border: none;
  position: relative;
}

/* Reset Code Ends Here */

/* Hero Section Starts Here  */
.container {
  width: 100%;
  height: 100%;
}

.logo {
  text-decoration: none;
  color: black;
  font-size: 1.8vw;
  font-family: "Satoshi-Bold";
}

.hero_section {
  width: 100%;
  height: 10vh;
  padding: 1.3vw 5vw;
  position: relative;
}

.header_section {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list a {
  text-decoration: none;
}

.nav_link {
  color: black;
  list-style: none;
  margin: 0.6vw 0.9vw;
  font-family: "Satoshi-Regular";
  font-weight: regular;
  font-size: 1.1vw;
  position: relative;
}

.nav_link:hover {
  cursor: pointer;
}

.nav_link::after {
  content: "";
  border-bottom: 2px solid black;
  width: 0%;
  position: absolute;
  bottom: -0.2vw;
  left: 0;
  border-radius: 50%;
  transition: all linear 0.3s;
  cursor: pointer;
}

.nav_link:hover::after {
  width: 100%;
}

.header_btn {
  padding: 0.5vw 1vw;
  font-size: 1.1vw;
  font-family: "Satoshi-Regular";
  font-weight: bold;
  letter-spacing: 0.1vw;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: black;
}

.header_btn::after {
  content: "";
  height: 100%;
  width: 0%;
  background-color: #3498db;
  position: absolute;
  left: 0;
  top: 0%;
  border-radius: 10px;
  transition: all linear 0.3s;
  z-index: 1;
}

.header_btn:hover::after {
  width: 100%;
  display: flex;
}

.header_btn h4 a {
  color: white;
  text-decoration: none;
}

.header_btn:hover a {
  color: white;
  position: relative;
  z-index: 999;
}

.header_btn h4:hover a {
  color: white;
  position: relative;
  z-index: 999;
}
/* Hero Section Ends Here */

/* Contact Section Starts Here */
.contact-section {
  width: 100%;
}

.contact-hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7vh 0 10vh;
}

.contact-hero-section h1 {
  font-size: 3vw;
}

.contact-hero-section p {
  font-size: 1.3vw;
  color: #70707b;
}

.contact-input-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw 15vh;
  width: 100%;
  gap: 4vw;
  margin-top: -10vh;
}

.contact-input-left-section {
  width: 50%;
  margin-top: 15vh;
}

.input-name-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-input-left-section label {
  font-weight: bold;
  font-size: 1.1vw;
}

.contact-input-left-section input {
  width: 20vw;
  height: 5vh;
  margin: 0.3vh 0 3vh;
  border: none;
  outline: none;
  border: 1px solid rgb(202, 199, 199);
  border-radius: 5px;
  font-size: 1.1vw;
  padding-left: 0.5vw;
  color: #70707b;
}

.contact-input-left-section ::placeholder {
  font-size: 1.1vw;
}

.input-firstname-section {
  margin-right: 2vw;
}

.input-email-section input {
  width: 42.2vw;
}

.input-phone-section {
  position: relative;
  margin-top: -3vh;
}

.input-phone-section input {
  width: 42.2vw;
  padding-left: 3.2vw;
}

.input-phone-section select {
  border: none;
  outline: none;
  position: absolute;
  left: 0.1vw;
  top: 5vh;
  color: #70707b;
}

.input-message-section {
  margin-top: -3vh;
}

.input-message-section textarea {
  width: 42.2vw;
  height: 15vh;
  border: none;
  outline: none;
  border: 1px solid rgb(202, 199, 199);
  border-radius: 5px;
  font-size: 1.1vw;
  padding: 0.5vw;
  color: #70707b;
}

.input-check-box {
  margin-top: -3vh;
}

.input-check-box input {
  width: 1vw;
  border: none;
  outline: none;
  border: 1px solid rgb(228, 224, 224);
  border-radius: 5px;
}

.input-check-box p {
  margin-top: -7.4vh;
  margin-left: 1.5vw;
}

.input-btn-section {
  width: 42.2vw;
  height: 7vh;
  background-color: black;
  color: white;
}

.contact-input-right-section {
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10vh 3vw;
}

.contact-input-right-section i {
  font-size: 1.8vw;
  margin-bottom: 2vh;
  color: #70707b;
}

.contact-input-right-section p {
  font-size: 1.2vw;
  margin-bottom: 1.5vh;
  font-weight: bold;
}

.contact-input-right-section p:nth-child(3) {
  color: #70707b;
  font-size: 1.1vw;
}
/* Contact Section Ends Here */
