/* Custom Font Starts Here */
@font-face {
  font-family: "Satoshi-Light";
  src: url(./font/satoshi-light.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url(./font/satoshi-regular.ttf) format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url(./font/satoshi-medium.ttf) format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url(./font/satoshi-bold.ttf) format("truetype");
  font-weight: bold;
}
/* Custom Font Ends Here */

/* Reset Code Starts Here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi-Regular";
}

html,
body {
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

.btn {
  padding: 0.8vh 1vw;
  font-size: 1.1vw;
  font-family: "Satoshi-Regular";
  font-weight: bold;
  letter-spacing: 0.1vw;
  border-radius: 10px;
  border: none;
  position: relative;
}
/* Reset Code Ends Here */

/* Hero Section Starts Here  */
.container {
  width: 100%;
  height: 100%;
}

.logo {
  text-decoration: none;
  color: black;
  font-size: 1.8vw;
  font-family: "Satoshi-Bold";
}

.hero_section {
  width: 100%;
  height: 10vh;
  padding: 1.3vw 5vw;
  position: relative;
}

.header_section {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list a {
  text-decoration: none;
}

.nav_link {
  color: black;
  list-style: none;
  margin: 0.6vw 0.9vw;
  font-family: "Satoshi-Regular";
  font-weight: regular;
  font-size: 1.1vw;
  position: relative;
}

.nav_link:hover {
  cursor: pointer;
}

.nav_link::after {
  content: "";
  border-bottom: 2px solid black;
  width: 0%;
  position: absolute;
  bottom: -0.2vw;
  left: 0;
  border-radius: 50%;
  transition: all linear 0.3s;
  cursor: pointer;
}

.nav_link:hover::after {
  width: 100%;
}

.header_btn {
  padding: 0.5vw 1vw;
  font-size: 1.1vw;
  font-family: "Satoshi-Regular";
  font-weight: bold;
  letter-spacing: 0.1vw;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: black;
}

.header_btn::after {
  content: "";
  height: 100%;
  width: 0%;
  background-color: #3498db;
  position: absolute;
  left: 0;
  top: 0%;
  border-radius: 10px;
  transition: all linear 0.3s;
  z-index: 1;
}

.header_btn:hover::after {
  width: 100%;
  display: flex;
}

.header_btn h4 a {
  color: white;
  text-decoration: none;
}

.header_btn:hover a {
  color: white;
  position: relative;
  z-index: 999;
}

.header_btn h4:hover a {
  color: white;
  position: relative;
  z-index: 999;
}