/* Custom Font Starts Here */
@font-face {
  font-family: "Satoshi-Light";
  src: url(./font/satoshi-light.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url(./font/satoshi-regular.ttf) format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url(./font/satoshi-medium.ttf) format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url(./font/satoshi-bold.ttf) format("truetype");
  font-weight: bold;
}
/* Custom Font Ends Here */

/* Reset Code Starts Here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi-Regular";
}

html,
body {
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

.btn {
  padding: 0.8vh 1vw;
  font-size: 1.1vw;
  font-family: "Satoshi-Regular";
  font-weight: bold;
  letter-spacing: 0.1vw;
  border-radius: 10px;
  border: none;
  position: relative;
}
/* Reset Code Ends Here */

/* Hero Section Starts Here  */
.container {
  width: 100%;
  height: 100%;
}

.logo {
  text-decoration: none;
  color: black;
  font-size: 1.8vw;
  font-family: "Satoshi-Bold";
}

.hero_section {
  width: 100%;
  height: 10vh;
  padding: 1.3vw 5vw;
  position: relative;
}

.header_section {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list a {
  text-decoration: none;
}

.nav_link {
  color: black;
  list-style: none;
  margin: 0.6vw 0.9vw;
  font-family: "Satoshi-Regular";
  font-weight: regular;
  font-size: 1.1vw;
  position: relative;
}

.nav_link:hover {
  cursor: pointer;
}

.nav_link::after {
  content: "";
  border-bottom: 2px solid black;
  width: 0%;
  position: absolute;
  bottom: -0.2vw;
  left: 0;
  border-radius: 50%;
  transition: all linear 0.3s;
  cursor: pointer;
}

.nav_link:hover::after {
  width: 100%;
}

.header_btn {
  padding: 0.5vw 1vw;
  font-size: 1.1vw;
  font-family: "Satoshi-Regular";
  font-weight: bold;
  letter-spacing: 0.1vw;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: black;
}

.header_btn::after {
  content: "";
  height: 100%;
  width: 0%;
  background-color: #3498db;
  position: absolute;
  left: 0;
  top: 0%;
  border-radius: 10px;
  transition: all linear 0.3s;
  z-index: 1;
}

.header_btn:hover::after {
  width: 100%;
  display: flex;
}

.header_btn h4 a {
  color: white;
  text-decoration: none;
}

.header_btn:hover a {
  color: white;
  position: relative;
  z-index: 999;
}

.header_btn h4:hover a {
  color: white;
  position: relative;
  z-index: 999;
}
/* Hero Section Ends Here */

/* FAQs Section Starts Here */
.faq-section {
  width: 100%;
  padding: 5vw;
  text-align: center;
}

.faq-hero-section {
  width: 60%;
  margin: 0 auto;
}

.faq-hero-section h1 {
  font-size: 3vw;
  margin-bottom: 3vh;
}

.faq-hero-section p {
  font-size: 1.2vw;
  color: #70707b;
  line-height: 1.5;
}

.input-section {
  position: relative;
}

.faq-input {
  margin-top: 3vh;
  width: 35%;
  height: 3vw;
  border-radius: 10px;
  border: none;
  outline: none;
  border: 1px solid #cbcbce;
  padding-left: 2.3vw;
  font-size: 1.2vw;
  color: #70707b;
}

::placeholder {
  font-size: 1.2vw;
}

.fa-magnifying-glass {
  position: absolute;
  left: 29.5vw;
  top: 5.2vh;
  color: #70707b;
  font-size: 1.3vw;
}

.Popular-questuib-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  color: #70707b;
  font-size: 1.1vw;
  margin-bottom: 10vh;
}

.Popular-questuib-section button {
  padding: 0.8vh 0.8vw;
  margin-left: 0.5vw;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #70707b;
}

.faq-category-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.faq-category-left-section {
  width: 25%;
  margin-top: -17vh;
}

.faq-category-left-section {
  text-align: left;
}

.faq-category-left-section h3 {
  font-size: 2vw;
  font-family: "Satoshi-Light";
  margin-bottom: 4vh;
}

.faq-category-left-section h4 {
  font-family: "Satoshi-Light";
  font-size: 1.2vw;
  padding-bottom: 2vh;
  padding-left: 1.5vw;
  position: relative;
  border-left: 2px solid black;
}

.faq-category-left-section ul li {
  list-style: none;
  font-size: 1.2vw;
  color: #70707b;
  padding-bottom: 2vh;
  padding-left: 1.5vw;
}

.faq-category-right-section {
  width: 75%;
}

.faq_question_box p {
  text-align: left;
}
/* FAQs Section Starts Here */

/* Subscribe Section Starts Here */
.subscribe-section {
  position: relative;
  margin-bottom: 5vh;
}

.subscribe-section img {
  width: 100%;
  height: 90vh;
}

.image-overlay {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 55;
  width: 100%;
  height: 90vh;
  opacity: 0.4;
}

.subscribe-text-section {
  color: white;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-33%, -50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subscribe-text-section h1 {
  font-size: 4vw;
  margin: 1vw 0 2vw;
}

.subscribe-text-section p {
  font-size: 1.5vw;
  line-height: 1.5;
}

.subscribe-text-section input {
  width: 40vw;
  height: 4.5vw;
  border: none;
  outline: none;
  border: 1px solid rgb(207, 204, 204);
  border-radius: 10px;
  margin: 10vh;
  padding: 1vw;
  font-size: 1.3vw;
  color: #70707b;
}

.subscribe-text-section ::placeholder {
  font-size: 1.3vw;
}

.subscribe-btn {
  position: absolute;
  top: 47vh;
  right: 10vw;
  z-index: 9999;
  background-color: black;
  color: white;
  padding: 1vw 2vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
/* Subscribe Section Ends Here */
