/* Custom Font Starts Here */
@font-face {
  font-family: "Satoshi-Light";
  src: url(./font/satoshi-light.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url(./font/satoshi-regular.ttf) format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url(./font/satoshi-medium.ttf) format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url(./font/satoshi-bold.ttf) format("truetype");
  font-weight: bold;
}
/* Custom Font Ends Here */

/* Reset Code Starts Here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi-Regular";
}

html,
body {
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

.btn {
  padding: 0.8vh 1vw;
  font-size: 1.1vw;
  font-family: "Satoshi-Regular";
  font-weight: bold;
  letter-spacing: 0.1vw;
  border-radius: 10px;
  border: none;
  position: relative;
}
/* Reset Code Ends Here */

/* Hero Section Starts Here  */
.container {
  width: 100%;
  height: 100%;
}

.hero_section {
  width: 100%;
  height: 160vh;
  padding: 1.3vw 5vw;
  position: relative;
}

.header_section {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list a {
  text-decoration: none;
}

.nav_link {
  color: white;
  list-style: none;
  margin: 0.6vw 0.9vw;
  font-family: "Satoshi-Regular";
  font-weight: regular;
  font-size: 1.1vw;
  position: relative;
}

.nav_link:hover {
  cursor: pointer;
}

.nav_link::after {
  content: "";
  border-bottom: 2px solid white;
  width: 0%;
  position: absolute;
  bottom: -0.2vw;
  left: 0;
  border-radius: 50%;
  transition: all linear 0.3s;
  cursor: pointer;
}

.nav_link:hover::after {
  width: 100%;
}

.header_btn {
  padding: 0.5vw 1vw;
  font-size: 1.1vw;
  font-family: "Satoshi-Regular";
  font-weight: bold;
  letter-spacing: 0.1vw;
  border-radius: 10px;
  border: none;
  outline: none;
}

.header_btn::after {
  content: "";
  height: 100%;
  width: 0%;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0%;
  border-radius: 10px;
  transition: all linear 0.3s;
  z-index: 1;
}

.header_btn:hover::after {
  width: 100%;
  display: flex;
}

.header_btn h4 a {
  color: black;
  text-decoration: none;
}

.header_btn:hover a {
  color: white;
  position: relative;
  z-index: 999;
}

.header_btn h4:hover a {
  color: white;
  position: relative;
  z-index: 999;
}

.hero_image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.hero_overlay {
  width: 100%;
  height: 158vh;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}

.hero_heading {
  font-family: "Satoshi-Light";
  font-size: 7.4vw;
  line-height: 1;
  color: white;
  position: absolute;
  top: 52vw;
  z-index: 9;
}

.hero_heading span {
  font-size: 7.4vw;
  font-family: "Satoshi-Bold";
}

.heading_overlay {
  width: 100%;
  height: 78vh;
  background: linear-gradient(to bottom, rgba(63, 63, 63, 0), rgb(0, 0, 0));
  opacity: 0.9;
  position: absolute;
  top: 80vh;
  left: 0;
  z-index: 1;
}

.hero_image_gallery {
  display: flex;
  flex-direction: column;
  background-color: rgb(139, 136, 136);
  width: 15.1vw;
  justify-content: center;
  align-items: center;
  padding: 0.2vw;
  border-radius: 10px;
  box-shadow: rgba(223, 216, 216, 0.2) 0px 8px 24px;
  position: absolute;
  right: 4vw;
  top: 78vh;
  z-index: 9999;
}

.hero_image_gallery img {
  width: 14vw;
  margin: 0.3vw;
}

.scroll_down_img {
  color: white;
  opacity: 0.9;
  position: absolute;
  top: 136vh;
  left: 67vw;
  z-index: 99;
}
/* Hero Section Ends Here  */

/* About Section Starts Here  */
.about_section {
  width: 100%;
  height: 170vh;
  padding: 0 5vw;
}

.about_text_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_left_section {
  width: 45%;
}

.text_left_section h2 {
  font-size: 3.5vw;
  font-family: "Satoshi-Regular";
}

.about_btn {
  background-color: black;
  margin-top: 2vw;
}

.about_btn h4 a {
  color: white;
  text-decoration: none;
}

.text_right_section {
  width: 52%;
  margin-top: 6vw;
}

.text_right_section p {
  font-size: 1.4vw;
  letter-spacing: 1px;
  line-height: 1.4;
  margin: 1.5vw 0;
  color: #70707b;
  font-family: "Satoshi-Regular";
}
/* About Section Ends Here  */

/* About Property Cart Starts Here  */
.about_property_section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.img2 {
  margin-top: 10vw;
  margin: 10vw 2vw 5vw;
}

.img3 img {
  width: 33vw;
}
/* About Property Cart Ends Here  */

/* Property list Section Starts Here  */
.property_list_section {
  width: 100%;
  padding: 10vw 5vw;
  height: auto;
  position: relative;
}

.property_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Satoshi-Light";
  margin-bottom: 5vw;
}

.property_text h1 {
  width: 50%;
  font-size: 3.5vw;
}

.property_text p {
  width: 50%;
  color: #70707b;
  font-size: 1.6vw;
}

.property_image_section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5vw;
}

.property_image_section img {
  width: 28vw;
}

.image_overlay {
  position: relative;
  z-index: 9;
  bottom: 22.5vw;
  left: 0.4vw;
  display: flex;
}

.image_overlay p {
  margin: 0 0.4vw;
  background-color: black;
  color: white;
  padding: 0.3vw 1vw;
  border-radius: 20px;
  font-family: "Satoshi-Light";
  font-size: 1.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_overlay i {
  margin-right: 0.5vw;
  font-size: 1.3vw;
}

.apartment {
  display: flex;
  margin-left: 1vw;
}

.image_contant {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: "Satoshi-Regular";
  padding: 1vw 0;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.image_price {
  font-size: 1vw;
}

.image_price p {
  color: #70707b;
  margin-top: 0.5vw;
}

.image_heading_section {
  text-align: left;
}

.image_heading_section p {
  color: #70707b;
  font-size: 1.1vw;
}

.image_heading_section i {
  font-size: 1.2vw;
  margin-right: 0.2vw;
}

.image_details {
  display: flex;
  justify-content: space-between;
  color: #70707b;
  font-family: "Satoshi-Light";
  margin-top: 1vw;
}

.image_details i {
  margin-right: 0.5vw;
  font-size: 1.2vw;
}

.image_details p {
  font-size: 1.1vw;
}

.property_list_section button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 3vw 0;
  padding: 1vw 2vw;
}
/* Property list Section Ends Here  */

/* FAQ Section Starts Here  */
.faq_section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw 5vw;
}

.faq_left_section {
  width: 45%;
  margin-right: 5vw;
  font-family: "Satoshi-Light";
}

.faq_left_section h1 {
  font-size: 4vw;
}

.faq_left_section p {
  font-size: 1.5vw;
  line-height: 1.5;
  color: #70707b;
  margin: 1.5vw 0;
}

.faq_right_section {
  font-family: "Satoshi-Light";
  margin-top: 1vw;
}

.faq_question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #70707b;
  margin-left: 1vw;
}

.faq_question a {
  text-decoration: none;
  font-size: 3.3vw;
  color: #70707b;
  margin-bottom: 1vw;
  padding-right: 1vw;
}

.faq_question_box {
  background-color: rgb(241, 239, 239);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.faq_question_box h3 {
  font-family: "Satoshi-Bold";
  font-weight: bold;
}

.faq_question_box p {
  margin-left: 1vw;
  padding-bottom: 1vw;
}

.faq_question_box a {
  font-size: 2.2vw;
}
/* FAQ Section Ends Here  */

/* Blog Section Starts Here  */
.blog_page_section {
  width: 100%;
  padding: 5vw;
  font-family: "Satoshi-Regular";
}

.blog_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Satoshi-Regular";
  width: 100%;
}

.blog_content h1 {
  width: 140%;
  font-size: 3.4vw;
}

.blog_content p {
  color: #70707b;
  font-size: 1.4vw;
  line-height: 1.6;
}

.blog_images {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1vw;
  margin-top: 4vw;
}

.blog_page_section img {
  width: 28vw;
}

.blog_para {
  display: flex;
}

.blog_para p {
  color: #70707b;
  font-size: 1.2vw;
  margin: 1vw 0;
}

.blog_para p:nth-child(2) {
  margin-left: 1.5vw;
}

.blog_title {
  font-size: 1.7vw;
}

.blog_scroll_page {
    width: 111.3%;
    margin-left: -5vw;
    height: 30vh;
    background-color: white;
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}

.dot_icon {
    padding: 3vw 5vw;
}

.arrow_icon {
    padding: 3vw 5vw;
    font-size: 2.5vw;
}

/* Blog Section Ends Here  */

/* Contact Section Starts Here  */
.contact_section {
    width: 100%;
    height: auto;
}

.contact_img img {
    width: 100%;
    z-index: 1;
    margin-top: -18vw;
}

.contact_img {
    position: relative;
}

.contact_img_overlay {
    position: absolute;
    width: 100%;
    height: 119vh;
    opacity: 0.5;
    margin-top: -5vw;
    background-color: black;
    top: 0;
    left: 0;
}

.contact_input_section {
    font-family: "Satoshi-Regular";
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_text_section {
    position: absolute;
    top: 9vw;
    left: 5vw;
    width: 47%;
    color: white;
}

.contact_text_section h1 {
    font-size: 4.5vw;
}

.contact_text_section p {
    font-size: 1.5vw;
    color: rgb(218, 215, 215);
    line-height: 1.7;
    margin-top: 3vw;
}

.contact_input_field {
    position: absolute;
    top: 0;
    right: 5vw;
    color: rgb(0, 0, 0);
    background-color: white;
    width: 30vw;
    height: 70vh;
    border-radius: 20px;
    margin-top: 5vw;
}

.contact_input_field label {
    font-size: 1.2vw;
}
.contact_input_field input {
    width: 26vw;
    height: 2.4vw;
    margin-bottom: 1vw;
    border: none;
    outline: none;
    padding: 0.5vw;
    border: 1px solid rgb(194, 192, 192);
    border-radius: 5px;
    font-size: 1.3vw;
}
.contact_input_field textarea {
    width: 26vw;
    height: 10vw;
    border: none;
    outline: none;
    border: 1px solid rgb(194, 192, 192);
    border-radius: 5px;
    padding: 0.5vw;
    font-size: 1.3vw;
}

.contact_child {
    padding: 2vw;
}

::placeholder {
    font-size: 1.1vw;
}

.contact_btn {
    width: 26vw;
    background-color: black;
    color: white;
    font-size: 1.1vw;
    margin-top: 1vw;
}
/* Contact Section Ends Here  */

/* Footer Section Starts Here */
.footer_section {
    height: 85vh;
    width: 100%;
    background-color: #18181B;
    color: #ffffff;
    font-family: "Satoshi-Light";
    font-weight: normal;
}

.footer_top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 5vw 7vw;
    position: relative;
    border-bottom: 1px solid gray;
}

.footer_left {
    width: 55%;
}

.footer_left h2 {
    font-size: 2.2vw;
    letter-spacing: 0.1vw;
    line-height: 1.5;
}

.footer_left p {
    font-size: 1.2vw;
}

.footer_address {
    display: flex;
    margin-left: -1vw;
    margin-top: 3vw;
}

.address {
    margin: 1vw;
}

.address p:nth-child(1) {
    margin-bottom: 0.5vw;
    font-size: 1.2vw;
    color: #a3a3a8;
}

.address p:nth-child(2) {
    font-size: 1.2vw;
    color: #d2d2d4;
}

.footer_right {
    display: flex;
    position: absolute;
    right: 5vw;
}

.footer_link {
    display: flex;
    flex-direction: column;
    margin: 2vw;
    margin-top: 8vw;
}

.footer_link a {
    text-decoration: none;
    color: white;
    margin-bottom: 1.5vw;
}

.footer_link a:nth-child(1) {
    font-size: 1.2vw;
    color: #a3a3a8;
}

.footer_bottom_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 5vw;
}

.footer_bottom_section i {
    margin-left: 1vw;
}
/* Footer Section Ends Here */




/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (max-width: 600px) {
}



/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
  */

  @media (max-width: 768px) {
  }